.navbar {
    margin-bottom: 0;
    background-color:#0066ff;
    z-index: 9999;
    border: 0;
    font-size: 12px ;
    line-height: 1.42857143 ;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.container{
    border-color:#6699ff;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff  ;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e ;
    background-color:#E16222;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color:#fff ;
    background-color:#6699ff;
}

